@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}
<h2>Contact</h2>
<li>
    <ul>Phone: (+46)xx-xxx xx xx</ul>
    <ul>Mail: xx-xx@gmail.com</ul>
    <ul>Adress: Street 12 XXX XX Halmstad</ul>
</li>